<html>
    <head>
        <title>
            Real-Time Quiz
        </title>
    </head>
    <body>
        <h1>Real-Time Quiz</h1>
        To play the game, Please login by clicking to this <a href="/login">link</a>. 
    </body>
</html>