<html>
    <head>
        <title>
            Real-Time Quiz
        </title>
    </head>
    <body>
        <h1>Real-Time Quiz</h1>
        <h3>You have successfully logged in to the game.</h3>
        <p>
            <form action="/game/start" method="GET">
                <button type="submit" value="submit">Start Game</button>
            </form>
            <button onclick="logout()">Logout</button>
        </p>
    </body>
</html>

<script>
    function logout() {
        window.location.href = "/logout";
    }
</script>