<html>
    <head>
        <title>
            Real-Time Quiz
        </title>
    </head>
    <body>
        <h1>Real-Time Quiz</h1>
        <h3>You have successfully logged in to the game.</h3>
        <p>
            <button onclick="searchGame()">Start Game</button>
            <button onclick="logout()">Logout</button>
        </p>
    </body>
</html>

<script>
    function logout() {
        window.location.href = "/logout";
    }
    function searchGame(){
        window.location.href = '/game/start';
    }
</script>