<html>
    <head>
        <title>
            Real-Time Quiz
        </title>
    </head>
    <body>
        <h1>Real-Time Quiz</h1>
        <p id="searching">
            Please wait, while we are searching for a quiz game for you.....
        </p>
        <p>
            <button onclick="logout()">Logout</button>
        </p>
    </body>
</html>

<script type="text/javascript">
</script>