<html>
    <head>
        <title>
            Real-Time Quiz
        </title>
    </head>
    <body>
        <h1>Real-Time Quiz</h1>
        
        <p id="GameStartMessage" hidden></p>
        
        <p id="ShowMessage">
            Searching for an active quiz game...
        </p>

        <input type="text" id="QuestionId" value="" hidden>
        <table id="QuizQuestions" hidden>
            <thead>
                <tr id="timer"></tr>
                <tr>
                    <td colspan="4">
                        <strong id="Question"></strong>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <button class="option" id="1"></button>
                    </td>
                    <td>
                        <button class="option" id="2"></button>
                    </td>
                    <td>
                        <button class="option" id="3"></button>
                    </td>
                    <td>
                        <button class="option" id="4"></button>
                    </td>
                </tr>
            </tbody>
        </table>        

        <p>
            <button onclick="window.location.href='/logout'">Logout</button>
        </p>
    </body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io(`http://${window.location.host}`);

    // Connected to server
    socket.on('connect', () => {
        console.log(`Connected to server with socket ID: ${socket.id}`);
        socket.emit('SearchGame', {
            username: "<%=userName%>",
        });
    });

    // Game Started
    socket.on('StartGame', (data) => {
        let opponent = data['Opponent']['<%=userName%>'];
        $('#GameStartMessage').html(`<b>You have been matched with ${opponent}</b>`).show();
    });

    // New Question
    socket.on('NewQuestion', (data) => {
        let qid = data['QuestionId'];
        let question = data['Question'];
        let options = data['Options'];
        showQuizQuestions(qid, question, options);
    });

    // Answer submitted
    $('.option').on('click', function(event) {
        let selectedOption = Number(event.target.id);
        socket.emit('SubmitAnswer', {
            Username: "<%=userName%>",
            QuestionId: $('#QuestionId').val(),
            SelectedOption: selectedOption - 1,
        });
        clearQuizQuestions();
    });

    // Quiz Ended, winner declared
    socket.on('QuizEnd', (data) => {
        let winner = data['Winner'];
        clearQuizQuestions();
        $('#GameStartMessage').html(``).hide();
        if(winner == null){
            $('#ShowMessage').html(`<b>Game Draw</b><br>You will be redirected to homepage in 10 seconds.`).show();
        }else if(winner == '<%=userName%>'){
            $('#ShowMessage').html(`<b>You won the quiz</b><br>You will be redirected to homepage in 10 seconds.`).show();
        }else{
            $('#ShowMessage').html(`<b><u>${winner}</u> won the quiz</b><br>You will be redirected to homepage in 10 seconds.`).show();
        }

        setTimeout(() => {
            window.location.href = '/game'
        }, 10000);
    });

    socket.on('InProgress', () => {
        $('#GameStartMessage').html(``).hide();
        $('#ShowMessage').html('You are already in a game<br>You will be redirected to homepage in 5 seconds.').show();
        setTimeout(() => {
            window.location.href = '/game'
        }, 5000);
    });

    // Handle disconnection event
    socket.on('disconnect', () => {
        console.log('Disconnected from server');
        $('#GameStartMessage').html(``).hide();
        $('#ShowMessage').html('Disconnected from the server. Please refresh the page.').show();
    });

    // Handle errors
    socket.on('error', (error) => {
        console.error('Socket error:', error);
        $('#GameStartMessage').html(``).hide();
        $('#ShowMessage').html(`Error: ${error.message}`).show();
    });

    function showQuizQuestions(qid, question, options){
        $('#ShowMessage').html('').hide();
        let start = 20;
        $('#QuizQuestions #timer').html(`Timer: ${start}`);
        setInterval(function() {
            start--;
            $('#QuizQuestions #timer').html(`Timer: ${start}`);
        }, 1000);
        $('#QuestionId').val(qid);
        $('#QuizQuestions #Question').html(question);
        $('#QuizQuestions .option#1').html(options[0]);
        $('#QuizQuestions .option#2').html(options[1]);
        $('#QuizQuestions .option#3').html(options[2]);
        $('#QuizQuestions .option#4').html(options[3]);
        $('#QuizQuestions').show();
    }

    function clearQuizQuestions(){
        $('#QuizQuestions').hide();
        $('#QuizQuestions #Question, #QuizQuestions .option#1, #QuizQuestions .option#2, #QuizQuestions .option#3, #QuizQuestions .option#4, #QuizQuestions #timer').html(``);
        $('#QuestionId').val('');
        $('#ShowMessage').html('<b>New question on the way</b>').show();
    }
</script>